{% extends 'base.html' %}
{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/card_style.css' %}">
</head>

<div class="wrapper">
    <div class="header">
        <h1 style="text-align: center;" >{{ card.name }} </h1>
    </div>
    <div class="lb">
        <button class="left_button" onclick="document.location='{% url 'card' %}?id={{ card.id|add:-1}}'"></button>
    </div>
    {% if request.user.is_authenticated %}
    <div class="rp">
        <button class="report_button" onclick="OpenR()"></button>
    </div>
    {% endif %}
    <div class="rb">
        <button class="right_button" onclick="document.location='{% url 'card' %}?id={{ card.id|add:1}}'"></button>
    </div>
    <div class="content_rules">
        <h2 style="text-align: center;">Инструкция</h2>
        <div class="rules_text">
            <textarea class="output_client_rules" name="rules_for_reader" cols="100" rows="10" disabled id="output_client_rules">{{ card.instruction }}</textarea>
        </div>
    </div>
    <div class="content_text">
            <h2 style="text-align: center;">Текст</h2>
            <div class="file_content">
                <textarea class="output_client_text" name="text_for_reader" cols="100" rows="10" disabled id="output_client_text">{{ card.text }}</textarea>
            </div>
    </div>
    <div class="footer">
        {% if request.user.is_authenticated %}
        <div class="wrapper_seek">
            <div class="left_side"><p>A-<p></div>
            <div class="center_side"><input id="seek" type="range" name="seekbar" step="1" min="15" max="75"></div>
            <div class="right_side"><p>A+<p></div>
        </div>
        <div class="voice_conteiner">
            <div id="audio">
                {% for audio in audios %}
                <audio src ="{{ audio.file_path.url }}" controls></audio>
                {% endfor %}
            </div>
            <div class="button-grid">
                <table style="margin: auto;">
                    <td><div id="start"><button class="btn">record</button></div></td>
                    <td><div id="pause"><button class="btn" style="background-color: #fd0202; color: #fff;">pause</button></div></td>
                    <td><div id="resume"><button class="btn">resume</button></div></td>
                    <td><div id="stop"><button class="btn">stop</button></div></td>
                    <td><div id="sub"><button onclick="uploadBlob()" class="btn">отправить</button></div></td>
                </table>
        </div>
        </div>

    </div>
    <div class="video_translator">
        <div id="video">
            {% for video in videos %}
            <video   src ="{{ video.file_path.url }}" controls></video>
            {% endfor %}
        </div>
        <div id="stream"><video id="vid" autoplay></video></div>
    </div>
</div>
<div id="openModal">
    <div id="modal-container">
        <div class="modal-background">
          <div class="modal">
            <h2>I'm a Modal</h2>
            <p>Hear me roar.</p>
            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                      <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
                    </svg>
          </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("stream").hidden = true;
    var vidElement=null;
    document.getElementById('pause').hidden = true;
    document.getElementById('resume').hidden = true;
    document.querySelector('#start').addEventListener('click', function () {
        navigator.mediaDevices.getUserMedia({ audio: true, video: true })
            .then(stream => {
                const mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.start();
                    document.getElementById("stream").hidden = false;
                    document.getElementById("video").hidden = true;
                    vidElement=document.getElementById("vid");
                    vidElement.srcObject=stream;
                    vidElement.muted = true;
                    vidElement.play();
                    document.getElementById('start').hidden = true;
                    document.getElementById('pause').hidden = false;
                var videoChunks = [];
                mediaRecorder.addEventListener("dataavailable", function (event) {
                    videoChunks.push(event.data);
                });

                mediaRecorder.addEventListener("stop", function () {
                    const audioBlob = new Blob(videoChunks, {
                        type: 'audio/wav'
                    });
                    const videoBlob = new Blob(videoChunks, {
                        type: 'video/mp4'
                    });
                    const audioUrl = URL.createObjectURL(audioBlob);
                    const videoUrl = URL.createObjectURL(videoBlob);
                    var audio = document.createElement('audio');
                    var video = document.createElement('video');
                    audio.src = audioUrl;
                    video.src = videoUrl;
                    audio.controls = true;
                    audio.autoplay = true;
                    video.controls = true;
                    video.autoplay = true;
                    vidElement.pause();
                    document.getElementById("stream").hidden = true;
                    document.getElementById("video").hidden = false;
                    document.querySelector('#audio').replaceChildren(audio);
                    document.querySelector('#video').replaceChildren(video);
                    videoChunks = [];
                    document.querySelector('#send').addEventListener('click', function () {
                        fetch('{{ request.get_full_path }}', {
                            method: "POST",
                            body: audioUrl
                        })
                        .then(response => alert('Blob Uploaded'));
                    });
                });
                document.querySelector('#pause').addEventListener('click', function () {
                    mediaRecorder.pause();
                    document.getElementById('pause').hidden = true;
                    document.getElementById('resume').hidden = false;
                });
                document.querySelector('#resume').addEventListener('click', function () {
                    mediaRecorder.resume();
                    document.getElementById('pause').hidden = false;
                    document.getElementById('resume').hidden = true;
                });
                document.querySelector('#stop').addEventListener('click', function () {
                    mediaRecorder.stop();
                    document.getElementById('pause').hidden = true;
                    document.getElementById('resume').hidden = true;
                    document.getElementById('start').hidden = false;
                });
            });
        });
        var rng = document.getElementById('seek');
        var text = document.getElementById('output_client_text');
        var text_rules = document.getElementById('output_client_rules');
        rng.addEventListener("input",
            function () {
                text.style.fontSize = rng.value + 'px'
                text_rules.style.fontSize = rng.value + 'px'
            });
        function uploadBlob() {
                 myAudio = document.getElementById('audio').firstElementChild;
                myVideo = document.getElementById('video').firstElementChild;

        fetch(myAudio.src)
        .then(res => res.blob())

        .then(blob => {
                fetch('{{ request.get_full_path }}', {
                    method: "POST",
                    body: blob,
                    headers: { "X-CSRFToken": '{{ csrf_token }}',"Name":"audio", "Audio-Time":myAudio.duration},
                })

                .catch(err => alert(err));
        });

        fetch(myVideo.src)
        .then(res => res.blob())

        .then(blob => {
                fetch('{{ request.get_full_path }}', {
                    method: "POST",
                    body: blob,
                    headers: { "X-CSRFToken": '{{ csrf_token }}',"Name":"Video"},
                })
                  .then(response => {alert("Запись успешно добавлена")
                  window.location.href = '{{ request.get_full_path }}'})
                .catch(err => alert(err));
        });
        };
</script>

   {% endblock %}