
{% extends 'base.html' %}
{% block content %}
<style>
   .central_container {
    text-align:  center;
   }
   textarea {
       overflow-y: scroll;
       width: 50%; /* Ширина поля в процентах */
       height: 200px; /* Высота поля в пикселах */
       resize: vertical; /* Запрещаем изменять размер */
      }
    .audio {
        src ="{{ card.id }}";
    }
  </style>
<br><br><br>
<h2 style="text-align: center;">{{ card.name }} </h2>
   <div class="main_container">
       <div class="top_bar"></div>
       <div class="central_container">
           <div class="rules_container">
               <h2 style="text-align: center;"> В поле ниже записаны правила, которых Вам следует придерживаться при записи</h2>
               <div class="rules_text">
                   <textarea name="comment" cols="100" rows="10" disabled id="output_client_rules">{{ card.instruction }}</textarea>
               </div>
           </div>
           <div class="text_conteiner">
               <h2 style="text-align: center;"> Ниже написано содержимое файла, который надо прочитать!</h2>

               <div class="file_content">
                   <textarea name="comment" cols="100" rows="10" disabled id="output_client_text">{{ card.text }}</textarea>
               </div>
           </div>
            {% if request.user.is_authenticated %}
           <input id="seek" type="range" name="seekbar" step="1" min="8" max="50">
           <div class="voice_conteiner">
                   <div id="audio"></div>

           </div>
           <div class="button-wrapper">

                    <button id="start">record</button>
                    <button id="pause">pause</button>
                    <button id="resume">resume</button>
                    <button id="stop">stop</button>
               </div>
                <button id="sub" onclick="uploadBlob()">отправить</button>

       </div>
    {% endif %}
   </div>
        <script>
var audioChunks = [];
            document.getElementById('pause').hidden = true;
            document.getElementById('resume').hidden = true;
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    const mediaRecorder = new MediaRecorder(stream);
                    document.querySelector('#start').addEventListener('click', function () {
                        mediaRecorder.start();
                        document.getElementById('start').hidden = true;
                        document.getElementById('pause').hidden = false;
                    });
                    var audioChunks = [];
                    mediaRecorder.addEventListener("dataavailable", function (event) {
                        audioChunks.push(event.data);
                    });


mediaRecorder.addEventListener("stop", function () {
                        const audioBlob = new Blob(audioChunks, {
                            type: 'audio/wav'
                        });
                        const audioUrl = URL.createObjectURL(audioBlob);
                        var audio = document.createElement('audio');
                        audio.src = audioUrl;
                        audio.controls = true;
                        audio.autoplay = true;
                        document.querySelector('#audio').replaceChildren(audio);
                        audioChunks = [];
                        document.querySelector('#send').addEventListener('click', function () {
                            fetch('{{ request.get_full_path }}', {
                                method: "POST",
                                body: audioUrl
                            })
                            .then(response => alert('Blob Uploaded'));
                            });
                        });
                    document.querySelector('#pause').addEventListener('click', function () {
                        mediaRecorder.pause();
                        document.getElementById('pause').hidden = true;
                        document.getElementById('resume').hidden = false;
                    });
                    document.querySelector('#resume').addEventListener('click', function () {
                        mediaRecorder.resume();
                        document.getElementById('pause').hidden = false;
                        document.getElementById('resume').hidden = true;
                    });
                    document.querySelector('#stop').addEventListener('click', function () {
                        mediaRecorder.stop();
                        document.getElementById('pause').hidden = true;
                        document.getElementById('resume').hidden = true;
                        document.getElementById('start').hidden = false;
                    });
                });
                var rng = document.getElementById('seek');
                var text = document.getElementById('output_client_text');
                var text_rules = document.getElementById('output_client_rules');
                rng.addEventListener("input",
                    function () {
                        text.style.fontSize = rng.value + 'px'
                        text_rules.style.fontSize = rng.value + 'px'
                    });

function uploadBlob() {
 myAudio = document.getElementById('audio').firstElementChild;

<!--                  const blob =-->
<!--            new Blob(-->
<!--                [myAudio.src],-->
<!--                { type: "text/plan" }-->
<!--            );-->


fetch(myAudio.src)
  .then(res => res.blob()) // Gets the response and returns it as a blob
  .then(blob => {
var result = blob
        fetch('{{ request.get_full_path }}', {

            // HTTP request type
            method: "POST",

            // Sending our blob with our request
            body:result ,
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
        })
        .then(response => alert("Запись добавлена"))
        .catch(err => alert(err));
});


    };

               </script>

   {% endblock %}
