{% extends 'base.html' %}
{% block content %}
<style>
   .central_container {
    text-align:  center;
   }
   textarea {
       overflow-y: scroll;
       width: 50%; /* Ширина поля в процентах */
       height: 200px; /* Высота поля в пикселах */
       resize: vertical; /* Запрещаем изменять размер */
      }
  </style>
<br><br><br><br>
<h2 style="text-align: center;">{{ card.name }} </h2>
   <div class="main_container">
       <div class="top_bar"></div>
       <div class="central_container">
           <div class="rules_container">
               <h2 style="text-align: center;"> В поле ниже записаны правила, которых Вам следует придерживаться при записи</h2>
               <div class="rules_text">
                   <textarea name="comment" cols="100" rows="10" disabled id="output_client_rules">{{ card.instruction }}</textarea>
               </div>
           </div>
           <div class="text_conteiner">
               <h2 style="text-align: center;"> Ниже написано содержимое файла, который надо прочитать!</h2>
               <div class="file_content">
                   <textarea name="comment" cols="100" rows="10" disabled id="output_client_text">{{ card.text }}</textarea>
               </div>
           </div>
              <input id="seek" type="range" name="seekbar" step="1" min="8" max="50">
                 {% if request.user.is_authenticated %}
           <div class="voice_conteiner">
               <div id="audio"></div>
               <div class="button-wrapper">
                   <button id="start">record</button>
                   <button id="stop">stop</button>
               </div>
        {% endif %}

               <script>
                    document.getElementById('pause').hidden = true
                    document.getElementById('resume').hidden = true
                    navigator.mediaDevices.getUserMedia({ audio: true })
                        .then(stream => {
                            const mediaRecorder = new MediaRecorder(stream);
                            document.querySelector('#start').addEventListener('click', function () {
                                mediaRecorder.start();
                                document.getElementById('start').hidden = true
                                document.getElementById('pause').hidden = false
                            });
                            var audioChunks = [];
                            mediaRecorder.addEventListener("dataavailable", function (event) {
                                audioChunks.push(event.data);
                            });

                            mediaRecorder.addEventListener("stop", function () {
                                const audioBlob = new Blob(audioChunks, {
                                    type: 'audio/wav'
                                });
                                const audioUrl = URL.createObjectURL(audioBlob);
                                var audio = document.createElement('audio');
                                audio.src = audioUrl;
                                audio.controls = true;
                                audio.autoplay = true;
                                document.querySelector('#audio').appendChild(audio);
                                audioChunks = [];
                            });
                            document.querySelector('#pause').addEventListener('click', function () {
                                mediaRecorder.pause();
                                document.getElementById('pause').hidden = true
                                document.getElementById('resume').hidden = false
                            });
                            document.querySelector('#resume').addEventListener('click', function () {
                                mediaRecorder.resume();
                                document.getElementById('pause').hidden = false
                                document.getElementById('resume').hidden = true
                            });
                            document.querySelector('#stop').addEventListener('click', function () {
                                mediaRecorder.stop();
                                document.getElementById('pause').hidden = true
                                document.getElementById('resume').hidden = true
                                document.getElementById('start').hidden = false
                            });
                        });
                </script>

           </div>
       </div>
   </div>
   {% endblock %}
