 {% extends 'base.html' %}
 {% block content %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>  
 <style>
    .container {
        margin: auto;
        width: 98%;
        text-align: center;
    }
    #layer1 {
        width: 70%; /* Ширина первого слоя */
        padding: 10px; /* Поля вокруг текста */
        padding-bottom: 60px;
        background-color: #fff; /* Цвет фона */
        margin: auto;
       margin-top: 2%;
        border-radius: 8px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
       }


    .btn{
        background-color: #ffffff; 
        color: #333;
        
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    .btn:hover {
        background-color: #fd0202;
        color: #fff;  <div>
  <span>
    {% if cards.has_previous %}
      <a href="?page={{ cards.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ cards.number }} of {{cards.paginator.num_pages }}.
    </span>
    {% if cards.has_next %}
      <a href="?page={{ cards.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>
    }
    .cardtxt {
      font-size: 15pt;
    }

 </style>

        {% for card in cards %}
    <div id="layer1" style="margin-top:2% "  >
     <div class="container">
         <label ><b>{{ card.name }}</b></label>
         <p class="cardtxt">{{ card.text|truncatechars:50 }}</p>
         <div>
            <p style="float: left;">{{ card.user }}</p>

            <button onclick="document.location='{% url 'home' %}card/?id={{ card.id }}'" class="btn" style="float: right;">Перейти</button>
        </div>

     </div>
    </div>





               
    {% endfor %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if cards.has_previous %}
        <li class="page-item">
          <a href="?page={{ cards.previous_page_number }}" class="page-link">Previous</a>
        </li>

        {% endif %}
        <!-- БЛОК НИЖЕ ТЕБЕ МЕНЯТЬ!!-->
          <li class="page-item disabled">
            <a href="#" class="page-link">Page {{ cards.number }} of {{cards.paginator.num_pages }}</a>
          </li>
        {% if cards.has_next %}
        <li class="page-item ">
          <a href="?page={{ cards.next_page_number }}" class="page-link">Next</a>
        </li>
        {% endif %}

           {% for i in nums %}
 <li class="page-item">
     <a class="page-link" href="?page={{ forloop.counter }}">
         {{ forloop.counter }}
     </a>
 </li>
 {% endfor %}

      </ul>
    </nav>


{% endblock %}