 {% extends 'base.html' %}

 {% block content %}
 <style>
    .container {
        height: 150px;
        width: 700px;
        text-align: center;
    }
    #layer1 {
        width: 40%; /* Ширина первого слоя */
        padding: 10px; /* Поля вокруг текста */
        background-color: #fff; /* Цвет фона */
        margin: auto;
        border-radius: 8px;
        
       }
    .main_w {
        text-align: center;
        
    }
    .btn{
        background-color: #ffffff; 
        color: #333;
        
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    .btn:hover {
        background-color: #fd0202;
        color: #fff;
    }
    .cardtxt {
      font-size: 15pt;
    }

 </style>

 <br><br><br><br><br>
        {% for card in cards %}
        <br>
        
    <div class="main_w">
    <div id="layer1" >
     <div class="container">
         <label for="uname"><b>{{ card.name }}</b></label>
         <p class="cardtxt">{{ card.text|truncatechars:50 }}</p>
         <label><b>{{ card.user  }} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</b> <button onclick="document.location='{% url 'home' %}card/?id={{ card.id }}'" class="btn">Перейти</button></label>

     </div>
    </div>
 </div>

        


               
    {% endfor %}
{% endblock %}