 {% extends 'base.html' %}

 {% block content %}
 <style>
    .container {
        height: 150px;
        width: 700px;
        text-align: center;
    }
    #layer1 {
        width: 730px; /* Ширина первого слоя */
        padding: 10px; /* Поля вокруг текста */
        background-color: #fff; /* Цвет фона */
        margin: auto;
        border-radius: 8px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
        
       }

    .btn{
        background-color: #ffffff; 
        color: #333;
        
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    .btn:hover {
        background-color: #fd0202;
        color: #fff;
    }
    .cardtxt {
      font-size: 15pt;
    }

 </style>

 <br><br><br><br><br>
        {% for card in cards %}
        <br>
        

    <div id="layer1" >
     <div class="container">
         <label for="uname"><b>{{ card.name }}</b></label>
         <p class="cardtxt">{{ card.text|truncatechars:50 }}</p>
         <div>
            <p style="float: left;">{{ card.user }}</p>

            <button onclick="document.location='{% url 'home' %}card/?id={{ card.id }}'" class="btn" style="float: right;">Перейти</button>
        </div>

     </div>
    </div>


        


               
    {% endfor %}
{% endblock %}