 {% extends 'base.html' %}

 {% block content %}
 <style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    .container {
        margin: auto;
        width: 98%;
        text-align: center;
    }
    #layer1 {
        width: 70%; /* Ширина первого слоя */
        padding: 10px; /* Поля вокруг текста */
        padding-bottom: 60px;
        background-color: #fff; /* Цвет фона */
        margin: auto;
       margin-top: 2%;
        border-radius: 8px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
       }

    .btn{
        background-color: #ffffff; 
        color: #333;
        
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    .btn:hover {
        background-color: #fd0202;
        color: #fff;
    }
    .cardtxt {
      font-size: 15pt;
    }
 </style>

        {% for card in cards %}

        <div id="layer1" >
            <div class="container">
                <label for="uname"><b>{{ card.name }}</b></label>
                <p class="cardtxt">{{ card.text|truncatechars:50 }}</p>
                <div>
                   <p style="float: left;">{{ card.user }}</p>
                   <button onclick="document.location='{% url 'user_card' %}?id={{ card.id }}'" class="btn" style="float: right;">Перейти</button>
                   <button class="btn" style="float: right;">Удалить</button>
                   
               </div>
       
            </div>
           </div>        
    {% endfor %}
  <div>
  <span>
    {% if cards.has_previous %}
      <a href="?page={{ cards.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ cards.number }} of {{cards.paginator.num_pages }}.
    </span>
    {% if cards.has_next %}
      <a href="?page={{ cards.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>
{% endblock %}