{% extends 'base.html' %}
	
	<title>Profile</title>

	{% load static %}
	{% block content %}
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
	<div class="fig"> 
<!--	<img width="150" height="80" src="{% static 'home/images/img_avatar.png' %}" alt="Аватар" class="avatar_profile_osrv">-->
	</div>
      {% if request.user.is_authenticated %}
<div>
	<h1>{{ request.user.username }}</h1>
	<h1>{{ voicing_time}}</h1>

		<h1>{{ count_audio }}</h1>
		<h1>{{ count_card }}</h1>
		<h1>{{ count_report }}</h1>
		</div>

    {% endif %}
	{% endblock %}
