{% extends 'base.html' %}
	
<title>Profile</title>
{% load static %}
{% block content %}
<style>
	#layer1 {
	width: 40%; /* Ширина первого слоя */
	padding: 10px; /* Поля вокруг текста */
	background-color: #fff; /* Цвет фона */
	margin: auto;
	margin-top: 2%;
	border-radius: 8px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
	text-align: center	;
	}
	.btn{
		background-color: #ffffff; 
		color: #333;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border-radius: 8px;
		border: 1px solid #d9d9d9;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.btn:hover {
		background-color: #fd0202;
		color: #fff;
	}
</style>
{% if request.user.is_authenticated %}
	<div id="layer1">
		<h1>{{ request.user.username }}</h1>
		<h1>Время озвучки: {{ voicing_time}}</h1>
		<h1>Карточек озвучено: {{ count_audio }}</h1>
		<h1>Карточек создано: {{ count_card }}</h1>
		<h1>Жалоб на карточки: {{ count_report }}</h1>
		{% if  request.user.allow_video %}
		<input type="checkbox" id="video" name="video" checked>
		{% else %}
		<input type="checkbox" id="video" name="video" >
		{% endif %}
		<label for="video">Записывать видео</label>

		{% if  request.user.allow_auto_transition %}
		<input type="checkbox" id="auto_transition" name="auto_transition" checked>
		{% else %}
		<input type="checkbox" id="auto_transition" name="auto_transition">
		{% endif %}


		<label for="auto_transition">Авто переход</label>
		<br>
		<button class="btn" onclick="save()" >Сохранить</button>
	</div>
{% else %}

<div id="layer1" >
    <div class="container">
        <h1>Вы не авторизовались</h1>
        <button onclick="document.location='{% url 'home' %}'" class="btn">OK</button>
    </div>
</div>

{% endif %}

<script>

function save() {
    var auto_transition = document.getElementById('auto_transition');
    var video = document.getElementById('video');
    fetch('{{ request.get_full_path }}', {
        method: "POST",
        body: JSON.stringify({"video": video.checked, "auto_transition":auto_transition.checked}),
        headers: { "X-CSRFToken": '{{ csrf_token }}',"Name":"Save"},
    })
    .then(response => {
    window.location.href = '{{ request.get_full_path }}'})
    .catch(err => alert(err));
};
</script>
{% endblock %}
