@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(home/images/background.jpg);
}

/* Поля ввода полной ширины */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Установите стиль для всех кнопок */
.btn{
    background-color: #ffffff; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: 3px solid #ffffff;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.buttonhome {
    background-color: #fd0202;
    float:right;    
    color: white;
    padding: 14px 25px;
    margin: 8px 0;
    border-radius: 10px;
    border: 3px solid #f6f6f6;;
    font-family: 'Poppins', sans-serif;
	font-size:20px;
    cursor: pointer;
    width: 100%;
}

.btnhome {
    background-color: #fd0202;
    float:right;    
    color: white;
    padding: 14px 25px;
    margin: 8px 0;
    border-radius: 10px;
    border: 3px solid #f6f6f6;;
    font-family:Helvetica;
	font-size:20px;
    cursor: pointer;
    width: 100%;
}

.button-wrapper{
    display: flex;	
    justify-content: center;	
  }
button:hover {
    opacity: 0.8;
}

/* Дополнительные стили для кнопки Отмена */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Центрируйте изображение и установите кнопку Закрыть */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.fig {
    text-align: center;
}
img.profile_av {
    width: 20%;
    border-radius: 0%;
}
.container-buttons {
    display: flex;
    justify-content: space-around;
  }
img.avatar {
    width: 40%;
    border-radius: 0%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Модальный (фон) */
.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Оставаться на месте */
    z-index: 1;
    /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включите прокрутку, если это необходимо */
    background-color: rgb(0, 0, 0);
    /* Цвет запасной вариант  */
    background-color: rgba(0, 0, 0, 0.4);
    /*Черный с непрозрачностью */
    padding-top: 60px;
}

/* Модальное содержание/бокс */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    width: 40%;
    height: 52%;
    /* Может быть больше или меньше, в зависимости от размера экрана */
}


/* Кнопка закрытия (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.dob {
    text-align:  center;
   }
   textarea.name_card_t {
        width: 50%;
        height: 20px;
        resize: none;
    }
   textarea {
       width: 50%; /* Ширина поля в процентах */
       height: 200px; /* Высота поля в пикселах */
       resize: vertical; /* Запрещаем изменять размер */
      } 
    

/* Добавить анимацию масштабирования */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Измените стили для кнопки span и cancel на очень маленьких экранах */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}